.select-wrapper {
    margin-bottom: 3.5rem;
    padding: 0 4.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-wrapper .from,
.select-wrapper .to {
    width: 22.6rem;
    height: 18.5rem;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    background: var(--bg-input-color);
    border-radius: 10px;
}

.select-wrapper .from {
    margin-right: -15px;
}

.select-wrapper .to {
    margin-left: -15px;
}

.info-wrapper {
    margin-bottom: 5rem;
    padding: 0 3rem;

    display: flex;
    flex-direction: column;
    gap: 9px;
}

.info-wrapper .info {
    display: flex;
    justify-content: space-between;
}

nav a:nth-child(2) {
    padding-bottom: 8px;
    margin-top: -15px;
    border-bottom: 2px solid white;
}